{% extends 'layout-default.njk' %}

{% block themeBody %}
  <header id="main-header" class="header-grid-area">
    {% block header %}
      {% include 'block/header.njk' %}
    {% endblock header%}
  </header>
  
  <div class="ga-content-l"></div>
  <div class="content-grid-area">
    {# {% block content %}
      {% include 'block/content.njk' %}
    {% endblock content %} #}
  </div>
  <div class="sidebar-grid-area">
    {% block sidebar %}
      {% include 'block/sidebar.njk' %}
    {% endblock sidebar %}
  </div>
  <div class="ga-content-r"></div>
  {% include 'block/bottom.njk' %}
{% endblock themeBody %}
